<% include ./partials/header %>

		<div id="landing-header">
			<h1>Welcome to YelpCamp!</h1>
			<p>
				<form action="/campgrounds" method="GET" class="form-inline"> 
					<div class="form-group mx-auto">
						<input id="searchBar" type="text" name="search" placeholder="Search for a campground" class="form-control">
						<input type="submit" value="search" class="btn btn-default" hidden>
					</div>
				</form>
			</p>
			<a id="allCampgrounds" href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
		</div>

		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

		<% include partials/footer %> 
