body {
    background-color: rgb(240,240,240);
}

.card-body {
    padding: 0;
}

.card-text {
    padding: 9px;
}

.text-right {
    padding-right: 9px;
}

.delete-form {
    display: inline;
}

.jumbotron {
    margin-top: 2rem;
}

.campCard {
    margin-bottom: 2rem;
}

.alert {
    margin-top: 1rem;
}

.alert-success {
    margin-top: 1rem;
}
.alert-error {
    margin-top: 1rem;
}
