body {
	background-color: rgb(230, 230, 230);
}

.jumbotron {
    background-color: rbg(240 , 240 , 240);
    box-shadow: 0px 0px 30px 10px rgba(30, 30, 30 , 0.1);
}

.card{
    background-color: rbg(240 , 240 , 240);
    box-shadow: 0px 0px 30px 10px rgba(30, 30, 30 , 0.1);
}

#searchBar {
	width: 400px;
}

#allCampgrounds{
	width: 400px;
}

.card-body {
	padding: 0;
}

.indexCampImg {
	width: 100%;
	height: 200px;
	object-fit: cover;

}

.card-text {
	padding: 9px;
}

.card-title{
	margin-top: 0.75rem;
}

.text-right {
	padding-right: 9px;
}

.delete-form {
	display: inline;
}

.jumbotron {
	margin-top: 2rem;
}

.campCard {
	margin-bottom: 1rem;
}

.alert {
	margin-top: 1rem;
}

.alert-success {
	margin-top: 1rem;
}
.alert-error {
	margin-top: 1rem;
}

form#loginForm {
    margin: 1rem 2rem 1rem 2rem;
}
